.venv
__pycache__
.pytest_cache
.mypy_cache
.DS_Store
*.pyc
*.pyo
*.db
*.sqlite
*.sqlite3
/instance
/flask_app/instance
/flask_app/__pycache__
/flask_app/.ipynb_checkpoints
/flask_app/*.ipynb
/flask_app/*.db
/flask_app/*.sqlite
/flask_app/*.sqlite3
/tests/__pycache__
/lifeos/__pycache__
/lifeos/**/*.pyc
/lifeos/**/*.pyo
/lifeos/**/*.pyd

